<html  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html>
<head>
	<title>Chap10</title>
</head>
<body>
<h3>스프링 시큐리티</h3>
<!--권한 체크, ROLE_MANAGER 권한일 때만 보임-->
<div sec:authorize="hasRole('ROLE_MANAGER')">
 <p><b>매니저 권한 화면입니다.</b> 
</div>
<!--권한 상관 없이, 로그인 시 보이기-->
 <div sec:authorize="isAuthenticated()">
 	<p>ROLE_MANAGER 권한 로그인 중입니다. 
 	<p><a href="/exam03">[웹 요청 URL /exam03로 이동하기]</a>
 </div>
<!--로그인 X-->
 <div sec:authorize="isAnonymous()">
 	<p>로그인 중이 아닙니다. 
 	<p><a href="/manager/tag">[웹 요청 URL /manager/tag로 이동하기]</a>
</div>
</body>
</html>