<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">게시글 작성</h1>
    </div>
</div>

<div class="row align-items-md-stretch text-center">
    <div class="container col-md-5">
        <form action="/boards/write" method="post" enctype="multipart/form-data">
            <div class="mb-3 row">
                제목 : <input type="text" name="title"></div>
            <div class="mb-3 row">
                작성자 : <input type="text" name="writer" th:value="${loginUser.userId}" readonly>
            </div>
            <div class="mb-3 row">
                내용 : <textarea name="content" cols="30" rows="3"></textarea>
            </div>
            <div class="mb-3 row">
                이미지 : <input type="file" name="img">
            </div>
            <div class="mb-3 row">
                <button type="submit" class="btn btn-primary">작성하기</button>
                <a class="btn btn-secondary" th:href="@{/boards}">목록으로</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>