<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="mt-5">
    <h3>쿠폰 목록</h3>
    <table class="table table-bordered table-striped">
        <thead class="table-light">
        <tr>
            <th>ID</th>
            <th>쿠폰 이름</th>
            <th>쿠폰 코드</th>
            <th>할인</th>
            <th>날짜 (시작 ~ 종료)</th>
            <th>최소 금액</th>
            <th>수량</th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="coupon : ${coupons}">
            <td th:text="${coupon.id}"></td>
            <td th:text="${coupon.name}"></td>
            <td th:text="${coupon.code}"></td>

            <td>
                    <span th:if="${coupon.type.name() == 'AMOUNT'}"
                          th:text="${#numbers.formatInteger(coupon.discountAmount, 3)} + '원'"></span>
                <span th:if="${coupon.type.name() == 'PERCENT'}"
                      th:text="${coupon.discountPercent} + '%'"></span>
            </td>

            <td>
                <span th:text="${#temporals.format(coupon.startDate, 'yyyy-MM-dd HH:mm')}"></span>
                <br/>~
                <span th:text="${#temporals.format(coupon.endDate, 'yyyy-MM-dd HH:mm')}"></span>
            </td>
            <td th:text="${coupon.minOrderPrice}"></td>
            <td th:text="${coupon.usageLimit}"></td>
            <td>
                <form th:action="@{/event/coupons/get}" method="post">
                    <input type="hidden" name="couponId" th:value="${coupon.id}"/>
                    <button type="submit" class="btn btn-sm btn-primary"
                            th:disabled="${coupon.usageLimit == 0}">
                        받기
                    </button>
                </form>
            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(coupons)}">
            <td colspan="5" class="text-center">등록된 쿠폰이 없습니다.</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>