<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://js.tosspayments.com/v1/payment-widget"></script>
</head>
<body>
<div th:replace="~{index/header :: header}"></div>
<div>
    <h1>결제하기</h1>
    <div class="payment-methods" id="payment-method"></div>
    <div class="agreement" id="agreement"></div>
    <button id="payButton">결제하기</button>
</div>
<div th:replace="~{index/footer :: footer}"></div>
<script th:inline="javascript">
    const order = /*[[${orderDto}]]*/ {};
    const productName = order.items[0].productName;
    const orderId = order.orderId;
    const amount = [[${amount}]];
    const generateRandomString = () =>
        window.btoa(Math.random()).slice(0, 20);
    const paymentKey = generateRandomString();
    const clientKey = "test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm";
    let isPaymentSuccess = false;

    const paymentWidget = PaymentWidget(clientKey, paymentKey);
    console.log("확인: ", orderId, amount, paymentKey);

    // 결제 UI 렌더링
    const paymentMethodWidget = paymentWidget.renderPaymentMethods(
        "#payment-method",
        {value: amount},
        {variantKey: "DEFAULT"}
    );

    // 이용약관 UI 렌더링
    paymentWidget.renderAgreement("#agreement", {variantKey: "AGREEMENT"});

    // 결제하기 버튼 누르면 결제창 띄우기
    document.getElementById("payButton").addEventListener("click", function () {
        paymentWidget.requestPayment({
            orderId: orderId,
            orderName: productName,
            successUrl: window.location.origin + "/success",
            failUrl: window.location.origin + "/fail",
            customerEmail: order.email, // 회원 이메일
            customerName: order.userName,  // 회원 이름
            customerMobilePhone: order.phone,
        }).then(() => {
            isPaymentSuccess = true; // 결제 성공 시
            console.log('결제 성공:', isPaymentSuccess);
        }).catch(error => {
            isPaymentSuccess = false; // 결제 실패 시
            console.error('결제 요청 실패:', error);
        });
    });
</script>

</body>
</html>