*{margin: 0; padding: 0;}
.section1{
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    padding: 30px 0;
    border: 1px solid #333;
}
.section1 ul{
    list-style: none;
    /* li가 float 되어 ul의 높이가 없어짐 */
    /* overflow: hidden; */
}
.section1 ul li{
    float: left;
    width: 300px;
    height: 200px;
    padding: 20px 30px;
    box-sizing: border-box;
    border: 1px solid #333;
    margin-right: 50px;
}
.section1 ul li:hover{
    box-shadow: 10px 10px 10px #999;
}
.section1 ul li:last-child{
    margin-right: 0;
}
.section1 ul li div p span{
    /* inline-block ex)이미지
    줄바꿈은 없지만, 넓이 높이가 있음*/
    display: inline-block;
    padding: 7px;
    background-color: cadetblue;
    color: white;
}
.section1 ul li div h3{
    font-size: 16px;
    margin-top: 10px;
}
.section1 ul li div .txt3{
    font-size: 15px;
    margin-top: 10px;
}
.section2{
    width: 1000px;
    height: 120px;
    margin: 20px auto;
    padding-top: 20px;
    background-color: darksalmon;
}
.section2 .left{
    float: left;
    padding: 0 80px 0 20px;
}
section .left p{
    margin-top: 10px;
    color: #666;
}
.section2 ul{
    list-style: none;
}
.section2 ul li{
    float: left;
    text-align: center;
    width: 100px;
    height: 100px;
}
.section2 ul li a{
    text-decoration: none;
    color: #000;
}
.section2 ul li:hover{
    border: 1px solid #333;
    box-sizing: border-box;
}