<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">회원 가입</h1>
    </div>
</div>
<div class="row align-items-md-stretch text-center">
    <div class="container col-md-5">
        <form action="/member/signUp" method="post">
            <div class="mb-3 row">
                아이디: <input type="text" name="userId" class="form-control">
            </div>
            <div class="mb-3 row">
                비밀번호: <input type="password" name="password" class="form-control">
            </div>
            <div class="mb-3 row">
                <button type="submit">회원 가입</button>
                <a th:href="@{/boards}" class="btn btn-secondary">게시판 돌아가기</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>