<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" >
</head>
<body>
<div>
    <h2>게시글</h2>
</div>
<div>
    제목 : <p th:text="${board.title}"></p>
    작성자 : <p th:text="${board.writer}"></p>
    내용 : <p th:text="${board.content}"></p>
    이미지 :
    <img th:if="${board.imgPath}" th:src="@{${board.imgPath}}" width="200" />
</div>
<div>
    <a th:href="@{'/boards/update/' + ${board.num}}" class="btn btn-success">수정하기</a>
    <a th:href="@{'/boards/delete/' + ${board.num}}" class="btn btn-danger">삭제하기</a>
    <a th:href="@{/boards}" class="btn btn-secondary">목록으로</a>
</div>
</body>
</html>