<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" th:href="@{/css/theme.css}">
    <link rel="stylesheet" th:href="@{/css/main_style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@400;700&display=swap" rel="stylesheet">
</head>

<script>
    window.addEventListener('scroll', function () {
        const header = document.querySelector('.header');
        if (window.scrollY > 10) {
            header.classList.add('scrolled');
        } else {
            header.classList.remove('scrolled');
        }
    });
</script>

<body>
<h2>마이페이지</h2>
<p th:if="${loginUser != null}" th:text="${loginUser.nickname}+'님'"></p>
<a href="/user/logout">로그아웃</a><br/>
<a th:href="@{/user/edit}">정보 수정</a>
<a th:href="@{/cart}">장바구니</a>
<form th:action="@{/user/delete}" method="post" onsubmit="return confirm('정말 탈퇴하시겠습니까?');">
    <button type="submit">회원 탈퇴</button>
</form>

</body>
</html>