* {margin: 0; padding: 0;}
ul {list-style: none;}
a{text-decoration: none; color: #000;}
body {
    width: 100%;
    min-width: 1920px;
}
header {
    position: relative;
    top: 0; left: 0;
    width: 100%;
    height: 165px;
    border-top: 5px solid #009223;
}
.top_wrap {
    width: 1170px;
    margin: 0 auto;
    position: relative;
}
.top_wrap::after {
    content: '';
    position: absolute;
    top: 164px;
    left: 0;
    background-color: #e5e5e5;
    width: 100%;
    height: 1px;
}
.logo {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    text-indent: -9999px;
}
.logo a {
    display: block;
    background: url(../img/logo_w.png) no-repeat 0 0;
    width: 202px;
    height: 40px;
}
.login {
    position: absolute;
    top: 40px;
    right: 25px;
}
.login ul li {
    float: left;
    margin-left: 30px;
}
.login ul li a {
    display: block;
    color: #666;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
}
.mm {
    position: absolute;
    text-align: center;
    top: 98px; left: 0;
    width: 100%;
}
.mm > ul{
    display: inline-block;
    text-align: center;
    z-index: 10;
}
.mm > ul > li {
    float: left;
    width: 165px;
}
.mm > ul > li > a {
    display: block;
    padding-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
.sm {
    top: 0; left: 0;
    width: 100%;
    padding-top: 67px;
}
.sm ul {
    text-align: center;
    position:absolute;
	top:75px;
	height:0;
    opacity: 0;
	padding-top:20px;
    overflow: hidden;
    transition: all 0.3s;
    z-index: 10;
}
.mm ul:hover li .sm ul{
    height:250px;
    opacity: 1;
}
.sm ul li a {
    text-align: center;
    font-size: 15px;
    color: #666;
    padding: 8px 0 9px;
    display: block;
}
.shadow {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    transition: all 0.3s;
    z-index: 5;
}
.mm ul:hover + .shadow{
	height: 250px;
}

.bxSl {
    position: relative;
    width: 100%;
    height: 490px;
}
.bxslider {
    position: relative;
}
.slider img {
    margin: 0 auto;
}
.quickmenu{
    position: absolute;
    left: 50%;
    z-index: 5;
    bottom: 0px;
}
.quickmenu ul li {float: left;}
.quickmenu ul li a {
    display: block;
    width: 300px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 22px;
}
.quickmenu ul li:first-child a {
    background-color: #ffce32;
    border-radius: 30px 0 0 0;
}
.quickmenu ul li:first-child a img{
    width: 24px;
    height: 30px;
    vertical-align: middle;
    padding-right: 13px;
}
.quickmenu ul li:nth-child(2) a img{
    width: 24px;
    height: 30px;
    vertical-align: middle;
    padding-right: 13px;
}
.quickmenu ul li:nth-child(2) a {
    background-color: #009223;
    color: #fff;
    border-radius: 0 0 30px 0;
}

.tabSl {
    padding-top: 60px;
    width: 1200px;
    height: 560px;
    margin: 0 auto;
    position: relative;
}
.tabS1 .tabTop {
    width: 1170px;
}
.tabTop h1 {
    color: #292929;
    font-size: 40px;
    font-weight: bold;
    background: url(../img/bul_tit.png) no-repeat 0 12px;
    padding: 17px 0 0 25px;
    margin-bottom: 1px;
}
.tabTop .tab {
    position: absolute;
    top: 44px;
    right: 0;
    margin-top: 30px;
}
.tab li {
    float: left;
    position: relative;
    margin-left: 23px;
    padding-left: 25px;
}
.tab li:first-child:after {
    display: none;
}
.tab li::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 1px;
    height: 15px;
    background-color: #ddd;
}
.tabBottom {
    position: absolute;
    width: 100%;
    height: 320px;
}
.sectionSlide {
    position: relative;
    width: 1200px;
    height: 320px;
    margin: 0 auto;
    overflow: hidden;
}
.sectionSlide ul{
    position: absolute;
    width: 100%;
    float: left;
}

.sectionSlide .menu_cl .cl0 {
    left: 0;
}
.sectionSlide .menu_cl .cl1 {
    left: 400%;
}
.sectionSlide .menu_fl {
    left: 100%;
}
.sectionSlide .menu_pr .pr0 {
    left: 200%;
}
.sectionSlide .menu_pr .pr1 {
    left: 500%;
}
.sectionSlide .menu_br {
    left: 300%;
}
.sectionSlide li {
    float: left;
    width: 260px;
    height: 320px;
}
.sectionSlide li a{
    display: block;
    text-align: center;
    line-height: 120%;
}
.sectionSlide img {
    height: 182px;
}
.sectionSlide li p {
    font-size: 13px;
    width: 260px;
    color: #999;
    letter-spacing: -2px;
}
.controls a {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 160px;
    transform: translateY(-50);
    /* z-index: 100; */
    text-indent: -9999px;
}
.controls .prevBtn {
    background: url(../img/icon_event_slider_arr.png) no-repeat 0 0;
    left: -150px;
}
.controls .prevBtn:hover {
    background: url(../img/icon_event_slider_arr.png) no-repeat 0 -50px;
}
.controls .nextBtn {
    background: url(../img/icon_event_slider_arr.png) no-repeat -50px 0;
    right: -150px;
}
.controls .nextBtn:hover {
    background: url(../img/icon_event_slider_arr.png) no-repeat -50px -50px;
}