* {margin: 0; padding: 0;}
ul {list-style: none;}
a{text-decoration: none; color: #000;}
body {
    width: 100%;
    min-width: 1300px;
    position: relative;
    border-top: 5px solid #009223;
}
header {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}
header::after {
    content: '';
    position: absolute;
    top: 164px;
    background-color: #e5e5e5;
    left: 0;
    width: 100%;
    height: 1px;
}
.logo {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
}
.logo a{
    display: block;
    background: url(../img/logo_w.png) no-repeat;
    width: 202px;
    height: 40px;
    text-indent: -9999px;
}
.login {
    position: absolute;
    right: 25px;
    top: 40px;
}
.login ul li {
    float: left;
}
.login ul li:nth-child(2) {
    cursor: default;
}
.login a {
    display: block;
    color: #666;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
}
.login li:nth-child(2) {
    color: #ddd;
}
.login img {
    margin-left: 10px;
}
.mm {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 98px;
    margin: 0 auto;
    padding-top: 10px;
    border-bottom: 1px;
}
.mm > ul{
    width: 1000px;
    position: absolute;
    left: 50%;
    z-index: 10;
    text-align: center;
    transform: translateX(-50%);
}
.mm ul {
    vertical-align: top;
}
.mm > ul > li {
    float: left;
}
.mm ul li a {
    display: block;
    text-align: center;
    width: 165px;
    padding-top: 20px;
}
.mm > ul > li > a {
    font-weight: bold;
    font-size: 18px;
    color: #292929
}
.mm ul li ul {
    height: 0px;
    overflow: hidden;
    transition: all 0.3s;
}
.mm>ul>li:hover >a{
    color: #009223;
}
.mm ul:hover li ul{
    height: 300px;
}
.mm ul ul li a {
    color: #666;
    font-size: 15px;
}
.mm ul ul li a:hover {
    color: #009223;
    text-decoration: underline;
}
.shadow {
    position: absolute;
    width: 100%;
    height: 0;
    top: 62px;
    background-color: #fff;
    transition: all 0.3s;
    box-sizing: border-box;
    z-index: 5;
}
.mm ul:hover + .shadow{
    height: 300px;
}
.bxslider {
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    width: 1920px;
    height: 440px;
}
.bxslider ul li img{
    margin: 0 auto;
}
.quickmenu{
    position: absolute;
    left: 50%;
    top: 560px;
    /* transform: translateX(-50%); */
    width: 1170px;
    z-index: 5;
}
.quickmenu ul li a {
    display: block;
    width: 300px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 22px;
}
.quickmenu ul li:first-child a {
    background-color: #ffce32;
    border-radius: 30px 0 0 0;
}
.quickmenu ul li:first-child a img{
    width: 24px;
    height: 30px;
    vertical-align: middle;
    padding-right: 13px;
}
.quickmenu ul li:nth-child(2) a img{
    width: 24px;
    height: 30px;
    vertical-align: middle;
    padding-right: 13px;
}
.quickmenu ul li:nth-child(2) a {
    background-color: #009223;
    color: #fff;
    border-radius: 0 0 30px 0;
}
.quickmenu ul li {float: left;}
section {
    position: relative;
    top: 640px;
    padding-top: 60px;
    height: 560px;
    width: 1170px;
    margin: 0 auto;
}
section h1 {
    height: 70px;
    font-size: 40px;
    background: url(../img/bul_tit.png) no-repeat 0 10px;
}
.sectionMenu .tab {
    position: absolute;
    right: 0;
    top: 44px;
}
.sectionMenu .tab li {
    float: left;
    position: relative;
    margin-left: 23px;
    padding: 0 0 0 25px;
}
.sectionMenu .tab li:nth-child(2),
.sectionMenu .tab li:nth-child(4),
.sectionMenu .tab li:nth-child(6) {
    color: #ddd;
    cursor: default;
}
.sectionMenu .tab a {
    display: block;
}
.sectionMenu .tab li {
    position: relative;
    /* margin-left: 23px; */
    padding-left: 25px;
    text-align: center;
}
.sectionMenu .tab li::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 3px;
    width: 1px;
    height: 15px;
    background-color: #ddd;
}
.sectionMenu .tab li:first-child::after {
    display: none;
}
.sectionMenu .tab a.on {
    font-weight: bold;
    color: #009223;
}
.sectionSlide {
    position: relative;
    width: 1200px;
    height: 320px;
    margin: 0 auto;
    overflow: hidden;
}
.sectionSlide ul{
    position: absolute;
    width: 100%;
    float: left;
}

.sectionSlide .menu_cl .cl0 {
    left: 0;
}
.sectionSlide .menu_cl .cl1 {
    left: 400%;
}
.sectionSlide .menu_fl {
    left: 100%;
}
.sectionSlide .menu_pr .pr0 {
    left: 200%;
}
.sectionSlide .menu_pr .pr1 {
    left: 500%;
}
.sectionSlide .menu_br {
    left: 300%;
}
.sectionSlide li {
    float: left;
    width: 260px;
    height: 320px;
}
.sectionSlide li a{
    display: block;
    text-align: center;
    line-height: 120%;
}
.sectionSlide li img {
    height: 182px;
}
.sectionSlide li p {
    font-size: 13px;
    width: 260px;
    color: #999;
    letter-spacing: -2px;
}
.controls a {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 160px;
    transform: translateY(-50);
    /* z-index: 100; */
    text-indent: -9999px;
}
.controls .prevBtn {
    background: url(../img/icon_event_slider_arr.png) no-repeat 0 0;
    left: -150px;
}
.controls .prevBtn:hover {
    background: url(../img/icon_event_slider_arr.png) no-repeat 0 -50px;
}
.controls .nextBtn {
    background: url(../img/icon_event_slider_arr.png) no-repeat -50px 0;
    right: -150px;
}
.controls .nextBtn:hover {
    background: url(../img/icon_event_slider_arr.png) no-repeat -50px -50px;
}