<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>주문 내역</title>
</head>
<body>
<h2>주문 내역</h2>
<table>
    <tr>
        <th>이미지</th>
        <th>제품명</th>
        <th>옵션</th>
        <th>구매일</th>
        <th>금액</th>
        <th>이동</th>
    </tr>
    <tr th:each="item : ${orders}">
        <td><img th:src="@{${item.product.images}}" width="100" alt="상품 이미지"/></td>
        <td th:text="${item.product.name}">제품명</td>
        <td th:text="${item.productModel.productModelSelect}">옵션명</td>
        <td th:text="${item.order.orderDate}">구매일</td>
        <td th:text="${#numbers.formatDecimal(item.order.totalPrice, 0, 'COMMA', 0, 'COMMA')} + '원'">0원</td>
        <td><a th:href="@{'/products/' + ${item.product.id}}">상세 보기</a></td>
    </tr>
</table>
</body>
</html>